/* The .stylelint rule I use wants hex colors in all uppercase and
 * use the full 6-char format instead of the 3-char shorthand ...
 * which should get fixed in the final CSS output and, if enabled,
 * also be fixed in this source SCSS on compile as well.
 */
html {
    color: black;
    background-color: #FFFFFF;
}

article {
    color: #FFFFFF;
}

article {
    background-color: pink;
}
